
.rows button{
 height: 40px;
 width: 65px;
 border-radius:10px;
 margin-bottom: 2px;
 background-color:rgb(213,213,213);
 position: relative;
 left: 30px;
 font-weight: bold;
 font-family: Lucida Sans Unicode;
 border-color: black;
 border-width: 1px;
 box-shadow: 0px 3px 10px 3px #F8F8FF inset;
}

.rows #zero{
    width:134px;
    position: relative;
    top:-21px;
}

.rows #period{
    position: relative;
    top:-21px;
}

.rows #equal{
   height: 84px;
   position:relative;
   top:-42px;

}
#total {
    height: 80px;
    width: 270px;
    margin-top:10px;
    margin-bottom: 0px;
    border-radius: 10px;
    background-color: rgb(240,251,200);
    position: relative;
    left: 30px;
    box-shadow: 0px 3px 10px 0px #F8F8FF;
    border-width: 2px;
    border-color: rgb(36,36,36);
    text-align:center;
    font-weight: bold;
    font-family: Lucida Sans Unicode;
}
#display {
    height: 30px;
    width: 250px;
    background-color: rgb(240,251,200);
    position: relative;
    top: -70px;
    right: -40px;
    box-shadow: 0px 3px 10px 0px #F8F8FF;
    border-width: 2px;
    border-color: rgb(36,36,36);
    text-align:center;
    font-weight: bold;
    font-family: Lucida Sans Unicode;
}
#output {
    height: 40px;
    width: 250px;
    background-color: rgb(240,251,200);
    position: relative;
    top: -70px;
    right: -40px;
    box-shadow: 0px 3px 10px 0px #F8F8FF;
    border-width: 2px;
    border-color: rgb(36,36,36);
    text-align:center;
    font-weight: bold;
    font-family: Lucida Sans Unicode;
}
.calculator {
    background-color: rgb(189,189,189);
    padding:20px;
    width: 340px;
    height: 360px;
    border-radius: 10px;
}